/*------------------------
page.tsx   CSS
-------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Mogra;
}

/*--- header ---*/
.intro-header {
  height: 750px;
  background-color: #dbff00;
  background-image: repeating-linear-gradient(145deg, transparent, transparent 30px, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.02) 32px);
}

.intro-top {
  display: flex;
  justify-content: space-between;
}

.intro-logo {
  display: flex;
  margin-top: 30px;
  padding-left: 20px;
}

.intro-logo h1 {
  display: inline-block;
  color: #000;
  font-family: Mogra;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-top: 5px;
}

.intro-link {
  text-decoration: none;
}

.intro-login p {
  color: #000;
  font-size: 20px;
  font-weight: 800;
  padding-top: 5px;
  padding-right: 30px;
  padding-top: 35px;
  text-decoration: none;
  transition: all 0.3s;
}

.intro-login p:hover {
  transform: scale(1.09);
}

.intro-descriptions {
  margin-top: 130px;
  text-align: center;
}

.intro-descriptions h1 {
  font-size: 60px;
}

.intro-descriptions h2 {
  padding-top: 20px;
  font-size: 40px;
  font-family: Mogra;
}

.intro-descriptions .intro-title .title-buttom {
  padding-left: 150px;
}

.intro-about {
  margin-top: 80px;
}

.intro-about p {
  font-size: 25px;
  line-height: 40px;
}

.intro-about h2 {
  padding-top: 40px;
  font-size: 60px;
}

/*--- main ---*/
main {
  text-align: center;
  margin-bottom: 150px;
}

main h1 {
  font-size: 48px;
  width: 45%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 10px;
  position: relative;
  padding: 5px;
  border-bottom: 5px solid;
  color: #f3f361;
  font-weight: bold;
  text-shadow: 3px 3px 0 #8f8e8e, -1px 1px 0 #8f8e8e, 1px -1px 0 #8f8e8e, -1px -1px 0 #8f8e8e;
}

main h1:before {
  position: absolute;
  bottom: -0.6rem;
  left: 0rem;
  right: 0rem;
  border-bottom: 1px solid;
  content: '';
}

main span {
  font-size: 25px;
}

.item {
  font-weight: 600;
  margin-top: 40px;
  line-height: 50px;
}

.item p {
  font-size: 20px;
}

.item h3 {
  padding-top: 20px;
  font-size: 27px;
  color: #f1ff94;
  text-shadow: 3px 3px 0 #8f8e8e, -1px 1px 0 #8f8e8e, 1px -1px 0 #8f8e8e, -1px -1px 0 #8f8e8e;
}

/*- about-functions -*/
.functions {
  margin-top: 40px;
  display: block;
}

.function {
  width: 60%;
  border: solid 2px #8f8e8e;
  border-radius: 30px;
  background-color: #f1ff94;
  margin: 20px 0;
  padding: 9px 0;
  display: inline-block;
}

.function p {
  font-weight: 600;
  font-size: 20px;
}

/*--- footer ---*/
.intro-footer {
  background-color: #dbff00;
  height: 50px;
}

.intro-footer h2 {
  text-align: center;
  font-family: Mogra;
  padding-top: 9px;
}

/*------------------------
login.tsx   CSS
-------------------------*/
.login-1,
.login {
  background-color: #dbff00;
  background-image: repeating-linear-gradient(145deg, transparent, transparent 30px, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.02) 32px);
}

.login-1 {
  margin-top: 300px;
}

.login-1 div,
.login {
  margin-top: 70px;
}

.login-1 p,
.login-1 code {
  font-family: Mogra;
  font-size: 100px;
}

.login-button {
  border: solid 3px #000000;
  border-radius: 40px;

  padding: 5px 30px;
  background-color: #f1ff9e;
  text-shadow: #8f8e8e 1px 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-button:hover {
  transform: scale(1.04);
  font-weight: 700;
}

/*------------------------
Header.tsx   CSS
-------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #dbff00;
  background-image: repeating-linear-gradient(145deg, transparent, transparent 30px, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.02) 32px);
}

.header-logo {
  display: flex;
  margin-top: 20px;
  padding-left: 30px;
}

.header-logo h1 {
  padding-top: 5px;
  padding-left: 10px;
  font-family: Mogra;
}

.header-user-account {
  padding-top: 29px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 500;
}

/*------------------------
Home.tsx   CSS
-------------------------*/
.home {
  background-color: rgba(241, 255, 158, 0.25);
}

/*------------------------
select.tsx   CSS
-------------------------*/
.select {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.select .item1 {
  margin-left: 20px;
}

.select .item3 {
  margin-right: 20px;
}

.select button {
  box-shadow: 5px 5px #b6c26a;
  padding: 10px 45px;
  border-radius: 15px;
  border: 2px solid #000;
  background: rgba(225, 255, 43, 0.6);
  cursor: pointer;
  font-size: 20px;
}

.select-link {
  text-decoration: none;
  color: #000000;
}
